<!doctype html>


<html lang="en">
<head>
  <meta charset="utf-8">

  <title>{{ cv_data.personal_info.first_name }} {{ cv_data.personal_info.last_name }}</title>
  <meta name="description" content="My awesome CV">
  <meta name="{{ cv_data.personal_info.first_name }} {{ cv_data.personal_info.last_name }}" content="SitePoint">

</head>

<body>
    {% include 'header.html' %}
    {% include 'experience.html' %}
    {% include 'education.html' %}
    {% include 'languages.html' %}
    {% include 'skills.html' %}
    {% include 'hobbies.html' %}
    {% include 'events.html' %}
    {% include 'references.html' %}
    {% include 'footer.html' %}
</body>
</html>
